[submodule "impacket"]
	path = impacket
	url = https://github.com/CoreSecurity/impacket
[submodule "dnslib"]
	path = dnslib
	url = https://github.com/paulchakravarti/dnslib
[submodule "watchdog"]
	path = watchdog
	url = https://github.com/gorakhargosh/watchdog
[submodule "pathtools"]
	path = pathtools
	url = https://github.com/gorakhargosh/pathtools
[submodule "pyyaml"]
	path = pyyaml
	url = https://github.com/yaml/pyyaml
